@import url('https://fonts.googleapis.com/css?family=Cinzel Decorative');
@import url('https://fonts.googleapis.com/css?family=Playfair Display');
@import url('https://fonts.googleapis.com/css?family=Economica');
@import url('https://fonts.googleapis.com/css?family=Libre Baskerville');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AuthPage{
  display: flex;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
}
.bg{
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}
.Authform{
  position: absolute;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 650px;
  width: 400px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.17);
}
.flower1{
  position: absolute;
  height: 300px;
  width: 350px;
  transform: rotate(10deg);
  left: -5%;
  top: 539px;
  opacity: 30%;
}
.flower2{
  position: absolute;
  height: 300px;
  width: 350px;
  right: -5%;
  top: -10%;
  opacity: 30%;
  transform: rotate(-170deg);
}
.checkbox{
  display: flex;
  flex-direction: row;
}
.checkbox input{
  height: 17px !important;
  width: 19px !important;
  left: 5%;
  /* left: 650px; */
  top: 820px;
  border-radius: 3px;

}
.checkbox p{
  font-family: "Cinzel Decorative";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-align: left;
  margin-right: 45px;

}
.formlogo{
  height: 120px;
  width: 170px;
  /* left: 775px;
  top: 205px; */
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 3%;
}
.formlogo img{
  height: 100%;
  width: 100%;
}
.Authform label{
  font-family: 'Cinzel Decorative';
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13em;
  margin-left: 7%;
  color: #000000;

}
.Authform input{
  height: 42px;
  width: 350px;
  left: 649px;
  top: 409px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px 0px #00000017;
  left: 0;
  right: 0;
  margin: auto;


}
.captcha{
  display: flex;
  height: 30px;
  width: 120px;
  left: 800px;
  top: 651px;
  border-radius: 8px;

}
.captcha input{
  display: flex;
  height: 100%;
  width: 100%;
  background: #F2F2F2;
  color: #801323;
  border: 5px solid #F2F2F2;
  font-size: 24px;
  font-family: 'Economica';
  font-size: 24px;
  font-weight: bolder;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-align: center;
  margin-left: 30%;
  margin-top: 5%;


}
.refresh{
  display: flex;
  height: 50px;
  width: 24px;
  margin-left:35%;
  margin-top: -6%;
  border-radius: 8px;
  /* border: 5px solid blue; */

}
.refresh img{
  margin-top: 35%;
  height: 35%;
  width: 70%;
}
.policies{
  cursor: pointer;
  text-decoration: underline;
  color: #801323;
}
.policies:hover{
  color: blue;
}
.verify{
  height: 44px;
  width: 182px;
  left: 773px;
  top: 879px;
  border-radius: 8px;
  background: #801323;
  border: none;
  color: white;
  font-family: 'Cinzel Decorative';
  font-weight: 76px;
  font-size: 20px;
  font-style: bold;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;


}

/* check page */
.loading{
  display: flex;
  position: absolute;
  height: 195px;
  width: 500px;
  top: 20%;
}


/* not-check-page */
.check-p{
  display: flex;
  position: absolute;
  height: 7px;
  width: 830px;
  left: 450px;
  top: 450px;
  font-family: 'Libre Baskerville';
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #801323;



}
.face{
  display: flex;
  position: absolute;
  height: 170px;
  width: 170px;
  /* left: 600px; */
  left: 0;
  right: 0;
  margin: auto;
  top: 100px;

}
.face-p{
  display: flex;
  position: absolute;
  height: 72px;
  width: 880px;
  /* left: 245px; */
  left: 355px;
  top: 300px;
  font-family: 'Cinzel Decorative';
  font-size: 30px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.011em;
  text-align: center;
  color: #801323;

 

}
.visit{
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 500px;
  left: 450px;
  top: 420px;
  border-radius: 16px;
  padding: 16px 32px 16px 32px;
  background-color: #801323;
  color: white;
  cursor: pointer;

}
.visit p{
  font-family: 'Cinzel Decorative';
  font-size: 27px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.011em;
  text-align: center;
  cursor: pointer;

}
.visit img{
  height: 35px;
  width: 40px;
  left: 51.56005859375px;
  top: 12.18994140625px;
  border-radius: 0px;
  cursor: pointer;

}
.social{
  display: flex;
  position: absolute;
  font-family: 'Cinzel Decorative';
  font-size: 25px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -0.011em;
  text-align: center;
  color: #801323;
  top: 550px;


}
.report{
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FF0000;
  height: 18px;
  width: 170px;
  left: 600px;
  top: 700px;
  border-radius: 16px;
  padding: 16px 32px 16px 32px;
}
.report p{
  display: flex;
  position: absolute;
  font-family: 'Lato';
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.011em;
  text-align: center;
  color: white;
  left: 35px;
  cursor: pointer;


}
.report img{
  display: flex;
  position: absolute;
  height: 22px;
  width: 27px;
  right: 34px;
  cursor: pointer;
  

  }
  .footer{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    top: 625px;
    cursor: pointer;
  }

  /* genuine */
  .logo{
    display: flex;
    position: absolute;
    flex-direction: row;
    padding: 0;

  }
  .logo img{
    display: flex;
    position: absolute;
    height: 160px;
    width: 180px;
    bottom: 220px;
    right: 35px;

  }
  .logo h2{
    display: flex;
    position: absolute;
    height: 56px;
    width: 179px;
    font-family: 'Cinzel Decorative';
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.011em;
    text-align: center;
    color: #801323;
    bottom: 235px;
    left: 3px;
  

  }
  .card{
    display: flex;
    position: absolute;
    flex-direction: row;

  }
  .card img{
    display: flex;
    position: absolute;
    height: 34px;
    width: 34px;
    left: 8.5px;
    top: 8.5px;
    border-radius: 0px;

  }
  .downloadicon{
    display: flex;
    position: absolute;
    height: 31px;
    width: 31px;
    margin-top: 105%;
    margin-left: 15%;

  }
  .digital-card{
    font-family: 'Cinzel Decorative';
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.011em;
    color: #801323;
    /* border: 5px solid yellow; */
    margin-left: -190%;
    margin-top: 110%;
    

  }
  .certificate{
    display: flex;
    position: absolute;
    height: 250px;
    width: 430px;
    left: -350px;
    top: -75px;
    border-radius: 16px;
    
  }
  .certificate img{
    height: 100%;
    width: 100%;
    border-radius: 13px;
  }
  .ring{
    display: flex;
    position: absolute;
    height: 350px;
    width: 350px;
    left: 190px;
    top: -120px;
    border-radius: 500px;
    border: 2px solid #801323;
    
    

  }
  .ring2{
    display: flex;
    position: absolute;
    height: 300px;
    width: 300px;
    left: 23px;
    top: 23px;
    border-radius: 500px;
    border: 2px solid #801323;
    background-color: #801323;
    opacity: 20%;
    
  }
  .ring img{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 80px;
    height: 90%;
    width: 70%;
  }
  .ring p{
    display: flex;
    position: absolute;
    color: #801323;
    font-family: 'Cinzel Decorative';
    font-size: 26px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.011em;
    text-align: center;
    bottom: 10px;
    left: 120px;
    
  }
  .buymore{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  .buy-more p{
    display: flex;
    position: absolute;
    align-items: center;
    height: 30px;
    width: 390px;
    top: 550px;
    border-radius: 16px;
    padding: 16px 32px 16px 32px;
    color: white;
    background-color: #801323;
    font-family: 'Cinzel Decorative';
    font-size: 23px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.011em;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;


  }
  .buy-more img{
    display: flex;
    position: absolute;
    left: 61.5%;
    top: 566px;
    height: 3%;
    cursor: pointer;
  }
  .rate{
    display: flex;
    position: absolute;
    flex-direction: row;

  }
  .rate p{
    display: flex;
    position: absolute;
    font-family: 'Cinzel Decorative';
    font-size: 25px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.011em;
    text-align: center;
    color: #801323;
    top: 220px;
    width: 320px;
    right: 5px;


  }
  .stars{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 350px;
    /* border: 5px solid yellow; */
    top: 230px;

  }
  .stars img{
    cursor: pointer;
    height: 100%;
    width: 15%;
  }
  .star1{
    display: flex;
    position: absolute;
    left: 5%;

  }
  .star2{
    display: flex;
    position: absolute;
    left: 25%;

  }
  .star3{
    display: flex;
    position: absolute;
    left: 45%;

  }
  .star4{
    display: flex;
    position: absolute;
    left: 65%;

  }
  .star5{
    display: flex;
    position: absolute;
    right: 0%;

  }
  .review{
    display: flex;
    position: absolute;
    flex-direction: row;

  }
  .review{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    bottom: 20px;
    width: 700px;
    right: 350px;
    /* border: 2px solid yellow; */

  }
  .review p{
    font-family: 'Cinzel Decorative';
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.011em;
    text-align: center;
    color: #801323;

  }
  .review input{
    height: 45px;
    width: 380px;
    top: 0px;
    border-radius: 16px;
    border: 2px solid #801323;

  }

  @media screen and (max-width:1200px){
    .AuthPage{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .Authform{
      display: flex;
      position: relative;
      /* padding: 1%; */
      /* display: flex; */
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      left: 0;
      right: 0;
      margin: auto;
      /* border-radius: 20px; */
      background-color: transparent;
    
    }
    .bg{
      display: flex;
      height: 0%;
      width: 0%;
    }
    .flower1{
      width: 95.00000213849032px;
      height: 91.00000204844862px;
      top: -20px;
      left: 320px;
      transform: rotate(-170deg);

    }
    .flower2{
      width: 94.9999999699748px;
      height: 90.99999997123902px;
      top: 790px;
      left: -4px;
      transform: rotate(9.31deg);

    }
    .loading{
      display: flex;
      position: absolute;
      height: 130px;
      width: 300px;
      top: 30%;
    }
    .check-p{
      display: flex;
      position: absolute;
      height: 7px;
      width: 350px;
      left: 50px;
      top: 450px;
      font-family: 'Libre Baskerville';
      font-size: 20px;
      font-weight: 300;
      line-height: 60px;
      letter-spacing: 0em;
      text-align: center;
      color: #801323;
    
    
    
    }

    /* genuine page */
    .logo{
      display: flex;
      position: absolute;
      flex-direction: column !important;
      padding: 0;
  
    }
    .logo img{
      display: flex;
      position: absolute;
      height: 45px;
      width: 49px;
      bottom: 340px;
      left: -20px;

  
    }
    .logo h2{
      display: flex;
      position: absolute;
      height: 31px;
      width: 100px;
      font-family: 'Cinzel Decorative';
      font-size: 28px;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: -0.011em;
      text-align: center;
      color: #801323;
      bottom: 270px;
      left: -60px;
    
  
    }
    .ring{
      display: flex;
      position: absolute;
      height: 95px;
      width: 95px;
      left: 15px;
      top: -140px;
      border-radius: 500px;
      border: 2px solid #801323;
      
      
  
    }
    .ring2{
      display: flex;
      position: absolute;
      height: 83px;
      width: 83px;
      left: 4px;
      top: 4px;
      border-radius: 500px;
      border: 2px solid #801323;
      background-color: #801323;
      opacity: 20%;
      
    }
    .ring img{
      display: flex;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 50px;
      height: 90%;
      width: 80%;
    }
    .ring p{
      display: flex;
      position: absolute;
      color: #801323;
      font-family: 'Cinzel Decorative';
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.011em;
      text-align: center;
      bottom: -3px;
      left: 20px;
      height: 20px;
      width: 99px;
    }
    .certificate{
      display: flex;
      position: absolute;
      height: 137px;
      width: 216px;
      left: -55px;
      top: -9px;
      border-radius: 16px;
      
    }
    .certificate img{
      height: 100%;
      width: 100%;
      border-radius: 13px;
    }
    .downloadicon{
      display: flex;
      position: absolute;
      height: 13px !important;
      width: 13px !important;
      margin-top: 115%;
      margin-left: 115%;
  
    }
    .digital-card{
      font-family: 'Cinzel Decorative';
      font-size: 16px;
      font-weight: 700;
      line-height: 37px;
      letter-spacing: -0.011em;
      color: #801323;
      margin-left: -40%;
      margin-top: 115%;
      
  
    }
    .buymore{
      display: flex;
      position: absolute;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
    .buy-more p{
      display: flex;
      position: absolute;
      align-items: center;
      height: 24px;
      width: 255px;
      top: 550px;
      border-radius: 16px;
      padding: 16px 32px 16px 32px;
      color: white;
      background-color: #801323;
      font-family: 'Cinzel Decorative';
      font-size: 16px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -0.011em;
      left: 0;
      right: 0;
      margin: auto;
      cursor: pointer;
  
  
    }
    .buy-more img{
      display: flex;
      position: absolute;
      left: 80%;
      top: 569px;
      height: 2%;
      cursor: pointer;
    }
    .rate{
      display: flex;
      position: absolute;
      flex-direction: column;
  
    }
    .rate p{
      display: flex;
      position: absolute;
      font-family: 'Cinzel Decorative';
      font-size: 16px;
      font-weight: 700;
      line-height: 37px;
      letter-spacing: -0.011em;
      text-align: center;
      color: #801323;
      top: 180px;
      width: 206px;
      right: -100px;
  
  
    }
    .stars{
      display: flex;
      position: absolute;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 24px;
      width: 130px;

      top: 235px;
      right: -50px;
  
    }
    .stars img{
      cursor: pointer;
      height: 100%;
      width: 15%;
    }
    .review{
      display: flex;
      flex-direction: column;
      justify-content: space-between !important;
      align-items: center;
      bottom: 50px;
      width: 200px;
      right: 100px;
      
  
    }
    .review p{
      font-family: 'Cinzel Decorative';
      font-size: 16px;
      font-weight: 700;
      line-height: 37px;
      letter-spacing: -0.011em;
      text-align: center;
      color: #801323;
  
    }
    .review input{
      height: 45px;
      width: 248px;
      top: 0px;
      border-radius: 16px;
      border: 2px solid #801323;
  
    }
    
  }